# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: Trials and Errors
email: rumaniel@hotmail.com
description: >- # this means to ignore newlines until "baseurl:"
  A game developer from the bottom
baseurl: "" # the subpath of your site, e.g. /blog
url: "http://rumaniel.github.io" # the base hostname & protocol for your site, e.g. http://example.com
# twitter_username: rumaniel
github_username: rumaniel

# Build settings
markdown: kramdown
theme: minima
plugins:
  - jekyll-feed
  - jekyll-seo-tag
  - jekyll-gist
  - jekyll-sitemap
  - jekyll-archives

# jekyll-archives configuration
# Note: jekyll-archives is NOT on GitHub Pages whitelist
# Requires Actions build environment (not standard Pages gem)
jekyll-archives:
  enabled:
    - year
    - month
    - categories
  layouts:
    year: archive
    month: archive
    category: archive
  permalinks:
    year: /archives/:year/
    month: /archives/:year/:month/
    category: /archives/:name/

# --- Misc --- #
# Fill in your Disqus shortname (NOT the userid) if you want to support Disqus comments
disqus:
  shortname: rumaniel

words_per_minute: 180

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
  - docs/  # Operational documentation (not part of public site)
